<h2>@ViewBag.abc</h2>

<form asp-action="Employee">
    <label>EmployeeCode</label>
    <Input type="text" name="EmployeeCode">
    <br>
    <label>Full Name</label>
    <Input type="text" name="EmployeeFullName">
    <br>
    <label>Employee Address</label>
    <Input type="text" name="EmployeeAddress">
    <br>
    <Input type="submit"value="Send">
</form>