<form asp-action="GPTB1">
    <label>Nhap he so A</label>
    <input type="text" name="hesoA" required />
    <br />
    <label>Nhap he so B</label>
    <input type="text" name="hesoB" required />
    <br />
    <input type="submit" value="submit" />
</form>
<h2>@ViewBag.message</h2>